@media screen {
    .asis{
        width: 100%;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
    }
    .ashish_card{
        background-color: antiquewhite;
        height: 50vh;
        width: 32%;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    .ashish_img{
        object-fit: cover;
        width: 100%;
        height: 45vh;
        border-bottom: 1px solid gray;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .details{
        
        margin: 0px 3px;
        display: flex;
        justify-content: space-between;
    }
    .ashish_h4{
        font-weight: bolder;
        color: rgb(139, 76, 76);
    }
    hr{
        
        width: 82%;
        margin: auto;
    }
    
}
@media screen and (min-width:360px) and (max-width:960px) {
    .asis{
        width: 100%;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
    }
    .ashish_card{
        background-color: antiquewhite;
        height: 20vh;
        width: 32%;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    .ashish_img{
        width: 100%;
        height: 15vh;
        border-bottom: 1px solid gray;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .details{
        
        margin: 0px 3px;
        display: flex;
        justify-content: space-between;
    }
    .ashish_h4{
        font-size: 10px;
        font-weight: bolder;
        color: rgb(139, 76, 76);
    }
    .ashish_h5{
        font-size: 6px;
    }
    .ashish_h1{
        font-size: 20px;
    }
    .ashish_hr{
        
        width: 82%;
        margin: auto;
    }
    
}