@media screen {
    body{
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .faluda{
        height: 77vh;
        width: 90%;
        margin: auto;
        margin-top: 60px;
        border: 0.1px solid gray;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 254, 254);
        display: flex;
        }
    .img-box img{
        height: 70vh;
        width: 100%;
        margin: 20px 5px;
        border: 2px light gray;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    }
    .details{
        height: 70vh;
        width: 40%;
        margin: 20px 5px;
        margin-left: 30px;
    }
    .search-box{
        margin-top: 70px;
    }
    .btn-chk{
        height: 30px;
        background-color: gray;
        color: white;
        margin-left: -5px;
        width: 100px;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

    }
    .btns{
        display: flex;
        justify-content: space-around;
    }
    .btn-add{
        height: 50px;
        width: 40%;
        margin-top: 50px;
        margin-left: -50px;
        border: none;
        border-radius: 5px;
        background-color: goldenrod;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    h4{
        margin-top: 20px;
    }
    
}
@media screen and (min-width:360px) and (max-width:640px) {
    body{
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .faluda{
        height: 77vh;
        width: 90%;
        margin: auto;
        margin-top: 60px;
        border: 0.1px solid gray;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 254, 254);
        display: flex;
        }
    .img-box img{
        height: 30vh;
        width: 100%;
        margin: 20px 5px;
        border: 2px light gray;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    }
    .details{
        height: 70vh;
        width: 40%;
        margin: 20px 5px;
        margin-left: 30px;
    }
    .search-box{
        margin-top: 50px;
        margin-left: -170px;
    }
    .btn-chk{
        height: 30px;
        background-color: gray;
        color: white;
        margin-left: -5px;
        width: 100px;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

    }
    .btns{
        display: flex;
        justify-content: space-around;
    }
    .btn-add{
        height: 40px;
        width: 40%;
        margin-top: 10px;
        margin-left: -0px;
        border: none;
        border-radius: 5px;
        background-color: goldenrod;
        color: white;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    h4{
        margin-top: 20px;
    }
}
@media screen and (min-width:480px) and (max-width:854px) {
    body{
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .faluda{
        height: 77vh;
        width: 90%;
        margin: auto;
        margin-top: 60px;
        border: 0.1px solid gray;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 254, 254);
        display: flex;
        }
    .img-box img{
        height: 30vh;
        width: 100%;
        margin: 20px 5px;
        border: 2px light gray;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    }
    .details{
        height: 70vh;
        width: 40%;
        margin: 20px 5px;
        margin-left: 30px;
    }
    
    .search-box{
        margin-top: 140px;
        margin-left: -220px;
    }
    .btn-chk{
        height: 30px;
        background-color: gray;
        color: white;
        margin-left: 0px;
        width: 95px;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

    }
    .btns{
        display: flex;
        justify-content: space-around;
    }
    .btn-add{
        height: 40px;
        width: 40%;
        margin-top: 10px;
        margin-left: -41px;
        border: none;
        border-radius: 5px;
        background-color: goldenrod;
        color: white;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    h4{
        margin-top: 20px;
    }
}
@media screen and (min-width:390px) and (max-width:896px) {
    body{
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .faluda{
        height: 77vh;
        width: 90%;
        margin: auto;
        margin-top: 60px;
        border: 0.1px solid gray;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 254, 254);
        display: flex;
        }
    .img-box img{
        height: 30vh;
        width: 100%;
        margin: 20px 5px;
        border: 2px light gray;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    }
    .details{
        height: 70vh;
        width: 40%;
        margin: 20px 5px;
        margin-left: 30px;
    }
    
    .search-box{
        margin-top: 100px;
        margin-left: -200px;
    }
    .btn-chk{
        height: 30px;
        background-color: gray;
        color: white;
        margin-left: 0px;
        width: 95px;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

    }
    .btns{
        display: flex;
        justify-content: space-around;
    }
    .btn-add{
        height: 40px;
        width: 40%;
        margin-top: 10px;
        margin-left: -30px;
        border: none;
        border-radius: 5px;
        background-color: goldenrod;
        color: white;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    h4{
        margin-top: 20px;
    }
}
@media screen and (min-width:820px) and (max-width:1180px) {
    body{
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .faluda{
        height: 40vh;
        width: 90%;
        margin: auto;
        margin-top: 60px;
        border: 0.1px solid gray;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 254, 254);
        display: flex;
        }
    .img-box img{
        height: 30vh;
        width: 100%;
        margin: 20px 5px;
        border: 2px light gray;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    }
    .details{
        height: 70vh;
        width: 40%;
        margin: 20px 5px;
        margin-left: 30px;
    }
    
    .search-box{
        margin-top: 20px;
        margin-left: 0px;
    }
    .btn-chk{
        height: 30px;
        background-color: gray;
        color: white;
        margin-left: 0px;
        width: 80px;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

    }
    .btns{
        display: flex;
        justify-content: space-around;
    }
    .btn-add{
        height: 40px;
        width: 40%;
        margin-top: 10px;
        margin-left: -30px;
        border: none;
        border-radius: 5px;
        background-color: goldenrod;
        color: white;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    h4{
        margin-top: 20px;
    }
    
}
@media screen and (min-width:768px) and (max-width:1024px) {
    body{
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .faluda{
        height: 45vh;
        width: 90%;
        margin: auto;
        margin-top: 60px;
        border: 0.1px solid gray;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 254, 254);
        display: flex;
        }
    .img-box img{
        height: 30vh;
        width: 100%;
        margin: 20px 5px;
        border: 2px light gray;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    }
    .details{
        height: 70vh;
        width: 40%;
        margin: 20px 5px;
        margin-left: 30px;
    }
    
    .search-box{
        margin-top: 20px;
        margin-left: 0px;
    }
    .btn-chk{
        height: 30px;
        background-color: gray;
        color: white;
        margin-left: 0px;
        width: 77px;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

    }
    .btns{
        display: flex;
        justify-content: space-around;
    }
    .btn-add{
        height: 40px;
        width: 50%;
        margin-top: 10px;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        background-color: goldenrod;
        color: white;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    h4{
        margin-top: 20px;
    }
    
}
@media screen and (min-width:912px) and (max-width:1368px) {
    body{
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .faluda{
        height: 50vh;
        width: 90%;
        margin: auto;
        margin-top: 60px;
        border: 0.1px solid gray;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 254, 254);
        display: flex;
        }
    .img-box img{
        height: 30vh;
        width: 80%;
        margin: 20px 5px;
        border: 2px light gray;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    }
    .details{
        height: 70vh;
        width: 60%;
        margin: 20px 5px;
        margin-left: 30px;
    }
    
    .search-box{
        margin-top: 20px;
        margin-left: 0px;
    }
    .btn-chk{
        height: 30px;
        background-color: gray;
        color: white;
        margin-left: 0px;
        width: 80px;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

    }
    .btns{
        display: flex;
        justify-content: space-around;
    }
    .btn-add{
        height: 40px;
        width: 40%;
        margin-top: 10px;
        margin-left: -30px;
        border: none;
        border-radius: 5px;
        background-color: goldenrod;
        color: white;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    h4{
        margin-top: 20px;
    }
    
}
@media screen and (min-width:600px) and (max-width:1024px) {
    body{
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .faluda{
        height: 60vh;
        width: 100%;
        margin: auto;
        margin-top: 60px;
        border: 0.1px solid gray;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 254, 254);
        display: flex;
        }
    .img-box img{
        height: 30vh;
        width: 100%;
        margin: 20px 5px;
        border: 2px light gray;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    }
    .details{
        height: 70vh;
        width: 40%;
        margin: 20px 5px;
        margin-left: 30px;
    }
    
    .search-box{
        margin-top: 20px;
        margin-left: 0px;
    }
    .btn-chk{
        height: 30px;
        background-color: gray;
        color: white;
        margin-left: 0px;
        width: 80px;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

    }
    .btns{
        display: flex;
        justify-content: space-around;
    }
    .btn-add{
        height: 40px;
        width: 40%;
        margin-top: 10px;
        margin-left: -30px;
        border: none;
        border-radius: 5px;
        background-color: goldenrod;
        color: white;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    h4{
        margin-top: 20px;
    }
    
}
@media screen and (min-width:1200px) and (max-width:800px) {
    body{
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    .faluda{
        height: 100vh;
        width: 100%;
        margin: auto;
        margin-top: 60px;
        border: 0.1px solid gray;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 254, 254);
        display: flex;
        }
    .img-box img{
        height: 30vh;
        width: 100%;
        margin: 20px 5px;
        border: 2px light gray;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    }
    .details{
        height: 70vh;
        width: 40%;
        margin: 20px 5px;
        margin-left: 30px;
    }
    
    .search-box{
        margin-top: 20px;
        margin-left: 0px;
    }
    .btn-chk{
        height: 30px;
        background-color: gray;
        color: white;
        margin-left: 0px;
        width: 80px;
        border: none;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

    }
    .btns{
        display: flex;
        justify-content: space-around;
    }
    .btn-add{
        height: 40px;
        width: 40%;
        margin-top: 10px;
        margin-left: -30px;
        border: none;
        border-radius: 5px;
        background-color: goldenrod;
        color: white;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    h4{
        margin-top: 20px;
    }
    
}



